%h1 Authenticate
%form{:action=>"/auth", :method=>"post"}
  %label E-Mail address
  %input{:type=>"text", :name=>"email"}
  %br
  %label Password
  %input{:type=>"password", :name=>"password"}
  %br
  %br
  %input{:type=>"submit", :value=>"Login"}
  
:javascript
  document.forms[0].password.focus();
